@page "/learnblazor/parentComponent"

<h3>ParentComponent</h3>
<CascadingValue Value="@MessageForGrandChild" Name="message">
    <CascadingValue Value="@LuckyNumber" Name="luckyNumber">
    <_ChildComponent Title="Teste" OnClickButton="showMessage">
        
        <ChildContent>Child content</ChildContent>
        @*<DangerChildContent>Danger</DangerChildContent>*@
    </_ChildComponent>
</CascadingValue>
</CascadingValue>

<_AnotherChildComponent paceholder="PH from parent"></_AnotherChildComponent>
@*<_ChildComponent Title="Teste"></_ChildComponent>*@

@code {
    public string MessageForGrandChild { get; set; } = "This is the message from GC";
    public int LuckyNumber { get; set; } = 7;
    public string messageText = "";

    public Dictionary<string, object> InputAttributesFromParent { get; set; } = new Dictionary<string, object>()
    {
        {"required", "required" },
        { "placeholder", "Enter Name From Parent dictionary"},
        { "Maxlength", 5}
    };

    private void showMessage()
    {
        messageText = "essa é a mensagem!";
    }
}
